.navbar{
  background-color: #212121;
  height: 50px;
}

.navbar-toggler{
  border: none;	
}

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0; 
  background-color: #484848;
  left: 0;
  overflow-x: hidden;
  margin-top: 50px;
  opacity: 0.9;
}

.sidenav-link{
  padding-top:30px;
  display: block;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #a1a1a1;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 220px;
}

.sidenav-toggle{
  color: white;
  padding-right: 1em;
}

.leave-container{
	min-width: 300px;
	max-width: 800px;
	width: 100%;
	padding: 4%; 
	margin-left: 240px;
	margin-right: auto;
	margin-bottom: 2%;
	margin-top: 4%;
	background:#fff;
}

.leave-form{
	border-radius: 0.5rem;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	border: solid 1px e0e0e0;
	padding: 4%;
}

.btn-check{
	background:white;
	color: #1c9be8;
	border: none;
}

.btn-reject{
	background:white;
	color: #7323dc;
	border: none;
}

table {
	font-size: 14px;
	border-collapse: collapse;
}
.rm-border{
	border:none;
}

input:focus {
	outline:none;
}

.dataTables_wrapper .dataTables_filter input {
	margin-right: .5em;
	padding-left: 10px;
	border-radius: 25px;
	border: 1.4px solid #4c4646;
	margin-left: 0.5em;
	padding-left: 10px;
	border-radius: 25px;
	border: 1.4px solid #4c4646;
}

button, select {
	text-transform: none;
	background: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #ffffff !important;
	border: none;
	background: #1c9be8;
	border-radius: 50px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #ffffff !important;
	border: none;
	background: #888f97;
	border-radius: 50px;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    overflow: auto;
}
